.server-box {
  background-color: $second-black;
  border-radius: 3px;
  margin: 30px;
  width: 210px;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .label {
    font-size: 32px;
    font-weight: 500;
    color: $white;
  }

  p::first-letter {
    text-transform: uppercase;
    font-weight: 900;
  }

  .type {
    font-size: 16px;
    font-weight: normal;
    color: $white;
  }
}

.pulse-animated {
  box-shadow: 0 0 0 $first-shadow;
  animation: pulse 2s infinite;
}

.pulse-stop {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(87, 93, 93, 0.75);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(87, 93, 93, 0.75);
    box-shadow: 0 0 0 0 rgba(87, 93, 93, 0.75);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
      box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
