$white: #fff;
$first-black: #000;
$second-black: #1E1E1E;
$third-black: #141414;
$first-pink: #B511CD;
$second-pink: #FB01B9;
$first-green: #25DEAD;
$second-green: #6CF514;
$first-blue: #0088FF;
$second-blue: #02D0FA;
$first-purple: #6323E3;
$gray: #646464;
$first-shadow: rgba(27, 36, 50, 0.35);
$second-shadow: rgba(27, 36, 50, 0);
